*{
  margin: 0;
  padding: 0;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth{
  display: flex;
  flex-direction: column;
}

.field>input{
  padding: 20px;
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.field>input:active{
  outline: 0;
}

.field{
  display: flex;
  flex-direction: column;
}
.enter{
  width: 100%;
  padding: 20px;
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 20px;
}

.error{
  color: red;
}